@import url('../components/header.css');
@import url("../components/footer.css");
:root {
    --main-color: #2166fd
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Helvetica, sans-serif;
}




section {
    padding-top: 10rem;
    min-height: 100vh;
    padding-inline: 9.375rem;
}