main {

    width: 70%;

    background-color: rgb(255, 255, 255);

    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

}


.campo {

    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 25px;
}

.formulario {

    margin-left: 120px;

}

.formulario h1 {

    font-size: 54px;
    margin-top: 50px;
    margin-bottom: 40px;

}

.campo input {

    width: 85%;
    height: 35px;

    border-radius: 5px;

    padding-left: 15px;
}

.campo textarea {

    width: 85%;

    height: 100px;

    border-radius: 5px;

    padding-left: 15px;

    padding-top: 5px;

}

.campo input.input-concluir {

    background-color: rgb(12, 12, 171);

    color: white;


    width: 87%;
    height: 35px;

    border-radius: 5px;

    padding-left: 5px;

}



.campo label {
    font-size: 22px;
    font-weight: bold;
}

.campo select {

    width: 87%;
    height: 37px;

    border-radius: 5px;

    padding-left: 15px;
}

.campo input.imagem-foto {

    width: 40%;
    height: 200px;

    background-color: rgb(220, 220, 220);

    border-radius: 15px;
}

.upload {

    position: relative;
    height: 180px;
    width: 450px;
    border-radius: 12px;
    background: #dedede;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    margin-bottom: 20px;


}

.upload input{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; /* invisível mas clicável */
    cursor: pointer;
}

.upload img{
    width: 55px;
}