



main {

    width: 70%;

    background-color: rgb(255, 255, 255);

    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

}

main h1 {

    margin-left: 30px;

    text-align: left;

    font-size: 56px;

}

.formulario {

    margin-left: 30px;


    


}

.input-padrao {


    width: 88%;
    height: 30px;

    border-radius: 5px;

    padding-left: 15px;



}

.input-concluir {

    background-color:rgb(12, 12, 171);

    color: white;


    width: 30%;
    height: 50px;

    border-radius: 5px;

    padding-left: 5px;

}

.meio-pagamento{

    display: flex;

    flex-direction: row;

    justify-content: space-around;

    margin-right: 150px;
    
    margin-bottom: 20px;
}

.pagamento-forma{

    background-color: rgb(255, 255, 255);

    border-radius: 12px;

    border: 1px solid #e5e5e5;

    box-shadow: 0 4px 10px rgba(0,0,0,0.12);

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.pagamento-forma p{
    font-size: 25px;
    font-weight: bold;
}

.input-mensagem {


    width: 85%;
    height: 100px;

    border-radius: 5px;

    padding-left: 15px;

    padding-top: 5px;

}

.label-padrao{
    font-size: 20px;
    font-weight: bold;

}