

main{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 25px;
}

section{

    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: rgb(255, 255, 255);

    border-radius: 12px;

    border: 1px solid #e5e5e5;

    box-shadow: 0 4px 10px rgba(0,0,0,0.12);

}
section a{
    display: flex;
    align-items: center;

    gap: 40px;

    text-decoration: none;

    color: inherit;

    padding: 15px;
    

 
}
section img{
    width: 200px;
    height: 90%;
}