@import url('../base/global.css');


body {
    background-image: linear-gradient(90deg, #0c4cee, #2357da);

}

#inicio {
    position: relative;
    background-image: url('../../images/fundo.png');

    background-size: contain;
    background-position: right;

    z-index: 1;
    isolation: isolate;


}

#inicio::before {
    content: "";
    position: absolute;
    inset: 0;   
    background: linear-gradient(
        90deg,
        #0c4cee 0%,
        #2357da 50%,
        rgba(0, 53, 186, 0.057) 70%
    );

    z-index: -1;

}



.libras-icon {
    position: absolute;
    justify-self: end;
    top: 50%;
    opacity: 80%;
    margin-right: 1rem;

    position: fixed;
}

.home-content {
    color: white;
    max-width: 50%; 
}

.home-content p {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.home-content p a {
    color: #6EE4FF;
}



.cta{
    transition: all 0.3s ease-in-out;
    position: absolute;
    margin-left: 0.5rem;
}

.cta:hover {
    transform: translateY(-5px);
    color: chartreuse;
}


.cards-container {
    display: flex;
    gap: 1rem;

    max-width: 100%;
    max-height: 30rem;

    margin-top: 3rem;
    justify-content: space-between;
}

.cards-container .card {
    height: 28.125rem;
    width: 18rem;
    background-color: purple;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05),
        0 8px 20px rgba(0, 0, 0, 0.08);
}

.card:hover {
    transform: translateY(-5px);

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05),
        0 8px 20px rgba(0, 0, 0, 0.267);
}



.card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent);
    z-index: 1;
}


.card * {
    position: relative;
    z-index: 2;
}

.text {
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 1rem;
    color: white;

    display: flex;
    flex-direction: column;
    gap: 0rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.693), transparent);
    font-size: 1rem;

    margin-bottom: 0.2rem;

}

.text p {
    font-size: 1.2rem;
}


#card-1 {
    background-image: url(https://img.freepik.com/fotos-gratis/retrato-sorridente-jovem-africano-fazendo-sinal-silencioso_23-2148852719.jpg?semt=ais_hybrid&w=740&q=80);

    background-size: cover;
    background-position: center;

}

#card-2 {
    background-image: url('https://imgs.search.brave.com/KxMSr-yYB9okQ63VEcds4QSQ4T5NIjYgthwZJTLFK_Q/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9wZW9w/bGUuY29tL3RobWIv/Tmo4bW43R0dfck5W/TndZOEtJMklFa19R/c1pFPS8yODJ4MTg4/L2ZpbHRlcnM6bm9f/dXBzY2FsZSgpOm1h/eF9ieXRlcygxNTAw/MDApOnN0cmlwX2lj/YygpL1RheWxvci1T/d2lmdC1SZXB1dGF0/aW9uLTA4MTgyNC0w/MS05YzJjYzE5YjM1/OGY0MmZiYjhhZTU4/MmI4ZTEyYzAyNy5q/cGc');

    background-size: cover;
    background-position: center;
}

#card-3 {
    background-image: url('https://imgs.search.brave.com/9rKhXNCycqU-TFNR2VcSKhVUk64pOrihomAist3Qo_Y/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvNDU4/MDgyMzU5L3Bob3Rv/L294Zm9yZC11bml2/ZXJzaXR5LmpwZz9z/PTYxMng2MTImdz0w/Jms9MjAmYz10VVli/N1JNQldIZnI5Sldk/dXZHTWlGNFFtdGRE/ZXJhSDlsSXhGeHRK/YTNBPQ');

    background-size: cover;
    background-position: center;
}




#sobre {
    color: aliceblue;
}

@media (min-width: 1440px) {
    html {
        font-size: 85%;
    }

    #inicio::before {
     background: linear-gradient(
        90deg,
        #0c4cee 0%,
        #2357da 52%,
        rgba(0, 53, 186, 0.057) 70%
    );


}


}