:root {
    --main-color: #2166fd
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Helvetica, sans-serif;
}

header,
ul {
    display: flex;
    align-items: center;
}


header {
    min-width: 100vw;
    justify-content: space-between;
    height: 5rem;
    margin-bottom: 1rem;
    position: fixed;
    backdrop-filter: blur(5px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.254);
    background-color: #0c4cee16;
    padding-inline: 9.375rem;

    z-index: 10000;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05),
        0 8px 20px rgba(0, 0, 0, 0.08);

}

header ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);


    display: flex;
    gap: 1rem;
    list-style: none;

    align-self: center;
}

header ul li a {
    text-decoration: none;
    color: white;

    font-size: 1.3rem;
    font-weight: 500;
}

header ul li,
.links {
    transition: all 0.3s ease-in-out;
    padding: 0.2rem;

}

header ul li:hover,
.links:hover {
    transform: translateY(-5px);
    background-color: rgba(0, 0, 0, 0.385);
    border-radius: 0.2rem;
}



.links {
    display: flex;
    border: 3px solid white;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;


}

.fa-solid.fa-question,
.fa-regular.fa-user {
    font-size: 1.3rem;
}


section {
    padding-top: 8rem;
    min-height: 100vh;
    padding-inline: 9.375rem;
}